[submodule ".vim/pack/default/start/lightline"]
	path = .vim/pack/default/start/lightline
	url = https://github.com/itchyny/lightline.vim.git
[submodule ".vim/pack/default/start/gruvbox"]
	path = .vim/pack/default/start/gruvbox
	url = https://github.com/gruvbox-community/gruvbox.git
[submodule ".vim/pack/default/start/gitgutter"]
	path = .vim/pack/default/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule ".vim/pack/default/start/vim-gnupg"]
	path = .vim/pack/default/start/vim-gnupg
	url = https://github.com/jamessan/vim-gnupg
[submodule ".vim/pack/default/start/vim-gitgutter"]
	path = .vim/pack/default/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "bin"]
	path = bin
	url = https://www.github.com/elainajones/bash_bin.git
