[submodule ".vim/pack/default/start/lightline"]
	path = .vim/pack/default/start/lightline
	url = https://github.com/itchyny/lightline.vim.git
[submodule ".vim/pack/default/start/gruvbox"]
	path = .vim/pack/default/start/gruvbox
	url = https://github.com/gruvbox-community/gruvbox.git
[submodule ".vim/pack/default/start/vim-gnupg"]
	path = .vim/pack/default/start/vim-gnupg
	url = https://github.com/jamessan/vim-gnupg
[submodule ".vim/pack/default/start/vim-gitgutter"]
	path = .vim/pack/default/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule ".vim/pack/default/start/nerdtree"]
	path = .vim/pack/default/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule ".vim/pack/default/start/ale"]
	path = .vim/pack/default/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule ".vim/pack/default/start/vim-fugitive"]
	path = .vim/pack/default/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/pack/default/start/supertab"]
	path = .vim/pack/default/start/supertab
	url = https://github.com/ervandew/supertab.git
[submodule ".vim/pack/default/start/vim-gutentags"]
	path = .vim/pack/default/start/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
